@import "tailwindcss";
@plugin "daisyui";

.banner-btn {
    background: linear-gradient(to right, purple, yellow);
    padding: 10px;
    border-radius: 10px;
    color: black;
    font-weight: 700;
}

.footer-btn {
     background: linear-gradient(to right, purple, yellow);
    padding: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: black;
    font-weight: 700;
}