@import "tailwindcss";
@plugin "daisyui";

.banner-btn {
    background: linear-gradient(to right, purple, yellow);
    padding: 10px;
    border-radius: 10px;
    color: black;
    font-weight: 700;
}

.footer-btn {
     background: linear-gradient(to right, purple, yellow);
    padding: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: black;
    font-weight: 700;
}

/* For 2K resolutions (2048 x 1152, 2048 x 1536) */
@media screen and (min-width: 2048px) {
    body {
        zoom: 1.6;
    }
}